
.content {
    background-color: white;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
    border-radius: 2px;
    max-width: 1200px;
}

.entry {
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */
:host {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: whitesmoke;
}